.anime {
	opacity: 0;
	transform: translate3d(-90px,0,0);
  transition: .90s; 
}
.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}
.item img{
  border: 1px solid #77cc6d;
  width: 100%;
  border-radius: 5px;
}
.item p{
  color: #77cc6d;
  font-family:Cambria;
  font-size: 22px;
  font-weight: bolder;
}
#carouselSlide h3{
  color:#77cc6d;
}
#plataforma{
  background-color:#FFF;
  border: none;
}
.tituloVerde{
  color:#77cc6d;
  font-family:Cambria;
}
.textoVerde{
  color:#77cc6d;
  font-family:Cambria;
  font-size: 18px;
  font-weight: bolder;
  text-align: justify;
}

#imgPlataforma{
  margin-top: 30px;
  margin-bottom: 12%;
  border: none;
}
#imgPlataforma img{
  width: 30%; 
}
.text-center img{
  text-align:center;
  width:80px;
  border: none;
}
#departamento{
  background-color:#FFF;
  border: none;
}
.subTituloVerde{
  color: #77cc6d;
  font-family:Cambria;
  font-size: 20px;
  font-weight: bolder;
}
#imgDepartamento{
  margin-top: 30px;
  margin-bottom: 12%;
  border: none;
}
#imgDepartamento img{
  width: 30%; 
}
#acoes{
  background-color:#FFF;
}
.subTitulooAcoes{
  color: #FFF;
  font-family:Cambria;
  font-size: 20px;
  font-weight: bolder;
}
.textoBrancoAcoes{
  color:#FFF;
  font-family:sans-serif;
  font-size: 17px;
  text-align: justify;
}
.thumbnail{
  background-color: #77cc6d;
  border:none;
}
.thumbnail img{ 
  border: 0px solid #FFF;
  border-radius: 5px;
}
.thumbnail h4{
  font-size:18px;
  color: #FFF;
  padding: 10px;
  background-color: #77cc6d;
  border-radius: 1px;
}
.modal-title{
  font-size: 23px;
  color: #77cc6d;
  font-family:Cambria;
  font-weight: bolder;
}
.modal-footer p{
  font-size:17px;
  color:#77cc6d;
  text-align:justify;
  font-family:Cambria;
}
.imgModal img{
  height: 420px;
}
#projetos{
  color:#FFF;
  border:none;
  background-color:#FFF;
}

#subTituloProjeto{
  color:#77cc6d;
  font-size: 22px;
  font-family:Cambria;
}
.col-lg-8 img{
  border-radius: 5px;
  border:1px solid #77cc6d;
}
#praias{
 color:#FFF;
 border:none;
 background-color:#FFF;
}
.caption h3{
  color:#77cc6d;
  font-family:Cambria;
}
.caption a{
  color:#FFF;
  font-family:Cambria;
}
#curiosidades{
  background-color:#FFF;
}
.nav-tabs li.active a {
  color:#fff !important;
  background-color: #64a0d4 !important;
}

.col-lg-offset-1 img{
  width: 100%;
  border-radius: 10px;
}
.nav-tabs li a {
  color: #FFF;
  font-family:Cambria;
  font-size: 19px;
  font-weight: bolder;
  background-color: #77cc6d;
}
.nav-tabs li a:hover {
  color: #FFF;
  font-family:Cambria;
  font-size: 19px;
  font-weight: bolder;
  background-color: #64a0d4;
}
.tab-content img{
  width: 100%;
  border-radius: 5px;
  height: 235px;
}
