.anime {
	opacity: 0;
	transform: translate3d(-90px,0,0);
    transition: .90s;
    
}
.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.item img{
  border: 1px solid #77cc6d;
  width: 100%;
  border-radius: 5px;
}

#carouselSlide h3{
  color:#77cc6d;
}

#plataforma{
  background-color:#64a0d4;
  border:none;
}
p{
  font-size:17px;
  color:#FFF;
  text-align:justify;
  font-family:verdana;
}

.text-center img{
  text-align:center;
  width:80px;
  border: none;
}

#departamento{
  background-color:#77cc6d;
  border:none;
}

#acoes{
  background-color:#64a0d4;
}

h4{
  color:#64a0d4;
  font-size:15px;
}
.thumbnail{
  background-color: #64a0d4;
  border:none;
}

.thumbnail img{ 
  border: 1px solid #FFF;
  border-radius: 5px;
}

.thumbnail h4{
  font-size:18px;
  color: #FFF;
  padding: 10px;
  background-color: #77cc6d;
  border-radius: 10px;
}

.modal-title{
  font-size: 23px;
}
.modal-footer p{
  font-size:17px;
  color:#64a0d4;
  text-align:justify;
  font-family:verdana;
}

#projetos{
  color:#FFF;
  border:none;
  background-color:#FFF;
}

.proj{
  color:#64a0d4;
}

#titulo{
  color:#64a0d4;
  font-size: 22px;
}
#texto{
  font-size:17px;
  color:#64a0d4;
  text-align:justify;
  font-family:verdana;
}

.col-lg-8 img{
  border-radius: 5px;
  border:1px solid #64a0d4;
}

#praias{
 color:#FFF;
 border:none;
 background-color:#77cc6d;
 

}
.caption a{
  color:#FFF;
  
}

#curiosidades{
  background-color:#FFF;
}

.curiosidade{
  color:#64a0d4;
}
.col-lg-offset-1 img{
  width: 100%;
  border-radius: 10px;
}

#tituloCuriosidade{
  color:#FFF;
  text-align: center;
  font-size: 15px;
}
#textoCuriosidade{
  text-align: justify;
  color:#64a0d4;
}