
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 80px;
      background-color: #f2f2f2;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }

    .well p{
      text-align:center;
    }
  
    




.zoom {
  transition: transform .5s;
  width: 200px;
  height: 200px;
  margin: 0 auto;   
}
.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.text-center .img-responsive{
  margin: 0 auto;
}




